@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url('imagem/wallpaper002.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: transparent;
    text-align: justify;
    margin-top: 10px;
    padding: 20px;
}

main h1 {
    color: black;
    text-align: center;
    padding-bottom: 20px;
}

div {
    margin: auto;
    max-width: 600px;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 50px;
}